button {
    border-radius: 6px;
    margin-right: 100px;
    padding: 8px 16px;
    font-weight: 500;
}

main > div {
    margin-bottom: 69px;
}

.default {
    border: none;
}

.default:hover,
.default:focus {
    background-color: #AEAEAE;
    box-shadow: 0px 2px 3px 0px #333333;
}

.outline {
    background-color: #ffffff;
    border: 1px solid#3D5AFE;
    color: #3D5AFE;
}

.outline:hover,
.outline:focus {
    background-color:rgba(41, 98, 255, 0.1);
}

.text {
    background-color: #ffffff;
    border: none;
    color: #3D5AFE;
}

.text:hover,
.text:focus {
    background-color:rgba(41, 98, 255, 0.1);
}

.disabled-shadow {
    background-color: #3D5AFE;
    color: #ffffff;
    box-shadow: none;
    border: none;
}

.disabled {
    color: #9E9E9E;
}

.start-icon {
    padding-left: 3rem;
}

.end-icon {
    padding-right: 3rem;
}